* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}

nav a:hover {
    color: #666666;
}

.navbar0 {
  font-size: 30px;
}

.simple-search {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 120px; 
}

.simple-search select {
    width: 100px; 
    height: 40px; 
    border-radius: 10px; 
    border: none; 
    background-color: #e0e0e0; 
    font-size: 16px; 
		text-align: center;
}

.simple-search input {
    width: 300px; 
    height: 40px; 
    border-radius: 10px; 
    border: none; 
    background-color: #f0f0f0; 
    font-size: 16px; 
    padding-left: 10px; 
}

.simple-search button {
    width: 100px; 
    height: 40px; 
    border-radius: 10px; 
    border: none; 
    background-color: #333333; 
    color: #ffffff; 
    font-size: 16px; 
}

.simple-search button:hover {
    background-color: #666666; 
}

.result-list {
    margin-top: 60px; 
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto;
}

.result-list ul {
    list-style-type: none; 
}

.result-list li {
    margin-bottom: 20px; 
		align-items: center;
}

.result-list select {
	  width: 20px;
    height: 20px; 
    border-radius: 10px; 
    border: none; 
    background-color: #e0e0e0; 
}

.result-list option {
    padding-left: 10px; 
}

.result-list .datetime {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}

.result-list .paragraph {
	display: flex;
}

.result-list .paragraph .content {
	font-size: 18px;
	color: #666666;
	margin-left: 10px;
	margin-right: 10px;
}
