* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}

nav a:hover {
    color: #666666;
}

.navbar2 {
  font-size: 30px;
}

.activated {
	background: #6666;
}

.time-list {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: calc(100% - 50px);
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: left 0.5s ease-in-out;
}

.time-list a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    padding: 10px 20px;
}

.time-list a:hover {
    background-color: #e0e0e0;
}

.content-list {
    margin-top: 60px; /* 防止导航栏遮挡 */
    margin-left: 220px; /* 防止时间列表遮挡 */
}

.content-list h6 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.content-list p {
    font-size: 18px;
    color: #666666;
    line-height: 1.5em; /* 设置行高 */
}

.content-list div {
    margin-bottom: 20px; /* 设置段落间距 */
}
